:root{
--background-color-dark: #2E2F42;
--background-color-white: #fff;
--background-color-light: #F4F4FD;
--modal-window-color: #FCFCFC;
--overlay-color: #4D5AE5;
/*logo*/
--logo-color-web: #4D5AE5;
/*text*/
--text-color-main: #434455;
--text-color-headline: #2E2F42;
--text-color-modal: #8E8F99;
--text-color-light: #F4F4FD;
--text-color-white: #fff;
--text-color-accent: #4D5AE5;
--text-color-modal-input: rgba(46, 47, 66, 0.4);
/*border*/
--border-light: #E7E9FC;
--button-color-filter-border: #E5E5E5;
--border-focus-color: #4D5AE5;
/*interactive*/
--link-color-active-second: #31D0AA;
--company-logo-peace: #8E8F99;
--link-color-peace-first: #4D5AE5;;
--link-color-active-first: #404BBF;
--icon-light-fill: #f4f4fd;
/**/
--animation-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*
|||||||||||||||||||||||||||||||||||||||
---------------------------------------
Common styles
---------------------------------------
|||||||||||||||||||||||||||||||||||||||
*/
*{
    box-sizing: border-box;
}

body{
    color: var(--text-color-main);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--background-color-white);
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, ul, ol{
    margin: 0;
    padding: 0;
}
.list{
    list-style-type: none;
}

.link{
    text-decoration: none;
}

.btn{
    padding: 0;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    text-align: center;
}

.container{
    min-width: 396px;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 16px;
}

@media only screen and (min-width: 768px) {
   .container
   {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
   .container
    {
    max-width: 1158px;
    padding: 0px 15px;
  }
}



.headline{
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    max-width: 496px;
    margin: 0 auto;
}

.second-hl{
    color: var(--text-color-headline); 
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.third-hl{
    font-size: 20px;
    color: var(--text-color-headline);
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    
}



.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*
|||||||||||||||||||||||||||||||||||||||
---------------------------------------
Index page styles
---------------------------------------
|||||||||||||||||||||||||||||||||||||||
*/

/*
---------------------------------------
Header styles
---------------------------------------
*/

.header{
    border-bottom: 1px solid var(--border-light);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-content{
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;

}

.nav{
    display: flex;
    align-items: center;

}

.logo{
    color: var(--logo-color-web);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-weight: 800;
    margin-right: 76px;
}

.logo .web{
    color: var(--text-color-headline);
}

.menu{
    display: none;
}

.address{
    display: none;
}

@media only screen and (min-width: 768px) {
   
    
.menu{
    display: flex;
    gap: 40px;
}

.menu .link{
    color: var(--text-color-headline);
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .link:focus, .menu .link:hover{
    color: var(--link-color-active-first);
}
.address{
    font-style: normal;
    display: block;
}

.address .list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
}
.address .link{
    color: var(--text-color-main);
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:focus, address .link:hover{
    color: var(--link-color-active-first);
}

.menu .active-page{

    color: var(--link-color-active-first);

}
.menu .active-page::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--link-color-active-first);
    flex-shrink: 0;
    border-radius: 2px;
}
  
}

@media only screen and (min-width: 1158px) {
.address .list {
        flex-direction: row;
        gap: 40px;
        font-size: 16px;
    }
}
/*
---------------------------------------
Hero(1st section) styles
---------------------------------------
*/

.hero{
    background-color: var(--background-color-dark);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    color: var(--text-color-white); 
    padding: 188px 0;
    background-position: center;
    margin: 0 auto;

}

.order-btn{
    background-color: var(--logo-color-web);
    color: var(--text-color-white);
    border: none;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    margin: 0 auto;
    transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover, .order-btn:focus{
    background-color: var(--link-color-active-first);
}

/*
modal window
*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal{
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: var(--modal-window-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-name: modal-animation;
    animation-duration: 300ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    
}

.modal .icon{
    stroke: var(--text-color-headline);
    fill: var(--text-color-headline);
}

.close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: var(--border-light);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-btn:focus{
        background-color: var(--link-color-active-first);
        border: none;
    }
.close-btn:hover{
    background-color: var(--link-color-active-first);
    border: none;
}

.close-btn .icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus .icon{
        stroke: var(--background-color-white);
        fill: #fff;
    }
.close-btn:hover .icon{
    stroke: var(--background-color-white);
    fill: #fff;
}
.modal-cap{
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-bottom: 16px;
    color: var(--text-color-headline);
    margin-bottom: 16px;
}
.modal-form-field{
    display: block;
    margin-bottom: 8px;
}

.modal-form-field:nth-child(4){
    margin-bottom: 16px
}

.modal-input-name{
    display: block;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--text-color-modal);
    margin-bottom: 4px;

}
.input-field{
    position: relative;
}
.modal-input{
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    outline: transparent;
    appearance: none;
    color: var(--text-color-main);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.modal-input:focus{
    border: 1px solid var(--border-focus-color);
    outline-offset: 0;
}

.icon-modal{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--text-color-headline);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-modal{
    fill: var(--link-color-peace-first);
}
.modal-comment{
    padding: 8px 16px;
    height: 120px;
    margin-bottom: 16px;
    resize: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: var(--text-color-modal-input);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder{
    color: var(--text-color-modal-input);
    font-size: 12px;
    letter-spacing: 0.48px;
}

.modal-comment:focus::placeholder {
    opacity: 0;
}

.checkbox-container{
    margin-bottom: 24px;
}
.pp-text{
    color: var(--text-color-modal);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

}

.pp-link{
    color: var(--link-color-peace-first);

}

.privacy-policy:checked + .pp-text .custom-checkbox{
    border: none;
    background-color: var(--link-color-active-first);
    fill: var(--background-color-light)

}
.custom-checkbox{
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-checked{
    opacity: 0;
}

.privacy-policy:checked + .pp-text .custom-checkbox > .icon-checked{
    opacity: 1;
}

.submit{
    min-width: 169px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    background: var(--link-color-peace-first);
    color: var(--background-color-white);
    letter-spacing: 0.64px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:focus, .submit:hover{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        background-color: var(--link-color-active-first);
}

@keyframes modal-animation{
    0%{
        opacity: 0;
    }

    33%{
        opacity: 33%;
    }

    66%{
        opacity: 66%;
    }

    100%{
        opacity: 100%;
    }
}

/*
---------------------------------------
Benefit(2nd section) styles
---------------------------------------
*/

.benefit-block{
    padding: 96px 0;
    
}

.benefit:not(:last-child){
    margin-bottom: 72px;
}

.benefit-logo{
    display: none;
}

@media only screen and (min-width: 1158px) {
  .benefit-block{
    padding: 120px 0;
  }
}
@media only screen and (min-width: 768px) {

    .benefits {
            display: flex;
            justify-content: space-between;
            gap: 24px;
            flex-wrap: wrap;
        }
    
        .benefit {
            width: calc((100% - 24px) / 2);
        }
}
@media only screen and (min-width: 1158px) {
    
    .benefit {
            width: calc((100% - 72px) / 4);
        }
    
    .benefit-logo {
            width: 264px;
            height: 112px;
            display: flex;
            background-color: var(--background-color-light);
            border-radius: 4px;
            justify-content: center;
            align-items: center;
            margin-bottom: 8px;
        }
}

.benefits .third-hl{
    margin-bottom: 8px;
        font-size: 36px;
        font-weight: 700;
        line-height: 0.9;
        letter-spacing: 0.72px;
}
@media only screen and (min-width: 1158px) {
.benefits .third-hl {
        text-align: left;
        font-size: 20px;
    }
}

.paragraf{
    letter-spacing: 0.02em;
    font-size: 16px;
    color: var(--text-color-main);
}
/*
---------------------------------------
Progects(3rd section) styles
---------------------------------------
*/

.mp-projects{
    display: none;
}

@media only screen and (min-width: 1158px) {


.mp-projects{
    padding-bottom: 120px;
}
.projects-exemples{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.exemple{
    border: 1px solid var(--border-light);
    width: calc((100% - 48px) / 3);
}
}
/*
---------------------------------------
Team(4th section) styles
---------------------------------------
*/
.team{
    background-color: var(--background-color-light);
    padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
   .team{
    padding: 120px 0;
  }
}
.team-members{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
.team-members{
    flex-direction: row;
    gap: 64px 24px;
    flex-wrap: wrap;
  }
}


@media only screen and (min-width: 1158px) {
.team-members {
        
        justify-content: space-between;
        gap: 24px;
}


}

.card{
    background-color: var(--text-color-white);
    letter-spacing: 0.02em;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    display: block;
    margin: 0 auto;
}



@media only screen and (min-width: 1158px) {
  .card {
    width: calc((100% - 72px) / 4);
  }
}
.card-info{
    padding: 32px 0px;
}

.card .third-hl{
    margin-bottom: 8px;
    padding-left: 16px;
} 

.card .paragraf{
    text-align: center;
    padding-left: 16px;
}
.team-social{
    display: flex;
    flex-shrink: 0;
    gap: 24px;
    justify-content: center;
}
.team-social-list{
    width: 40px;
    height: 40px;
}
.team-social-link{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--link-color-peace-first);
    margin-top: 8px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link .icon{
    fill: var(--icon-light-fill);
}

.team-social-link:hover,
.team-social-link:focus{
    background-color: var(--link-color-active-first);
}



/*
---------------------------------------
Company(5th section) styles
---------------------------------------
*/
.companies{
    padding: 96px 0;
}

@media only screen and (min-width: 1158px){
.companies{
    padding: 120px 0;
}
}

.company{
    display: flex;
    gap: 72px 16px;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 768px){
    .company {
    gap: 24px;
    }
}


.customers{
    width: calc((100%-16px)/2)
}

@media only screen and (min-width: minwidthpx) {
.customers{
    width: calc((100%-48px)/3);
  }
}

@media only screen and (min-width: 1158px){
.customers{
    width: calc((100% - 120px) / 6);
}
}

.company-logo{
    width: 168px;
    height: 88px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: var(--company-logo-peace);
    border: 1px solid var(--company-logo-peace);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-icon{
    fill: currentColor;
}

.company-logo:hover{
        border-color: var(--link-color-active-first);
        color: var(--link-color-active-first);
}

.company-logo:focus
{
    border-color: var(--link-color-active-first);
    color: var(--link-color-active-first);
}
.company-logo:hover .company-icon{
        fill: var(--link-color-active-first);
    }

.company-logo:focus .company-icon{
    fill: var(--link-color-active-first);
}
/*
---------------------------------------
Footer styles
---------------------------------------
*/

.footer{
    color: var(--text-color-light);
    background-color: var(--background-color-dark);
    letter-spacing: 0.02em;
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
   .footer{
    padding: 100px 0;
  }
}

.footer .container{
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}


@media only screen and (min-width: 768px){
    .footer .container{
        flex-direction: row;
        align-items: baseline;
        gap: 0;
        flex-wrap: wrap;
    }

    .logo-wrapper {
            margin-right: 24px;
            margin-bottom: 72px;
        }
}

@media only screen and (min-width: 1158px) {
    .footer .container {
            flex-wrap: nowrap;
    }
    .logo-wrapper {
            margin-right: 120px;
            margin-bottom: 0;
        }
    
}



.logo-wrapper{
    text-align: center;
}

@media only screen and (min-width: 768px) {
   .logo-wrapper{
    text-align: left;
  }
}

.logo-d{
    color: var(--logo-color-web);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-weight: 800;
    margin-bottom: 16px;
    display: inline-block;
}

.logo-d .web{

    color: var(--text-color-light);
}

.footer-p{
    max-width: 264px;
    letter-spacing: 0.02em;

}
footer .third-hl{
    color: var(--background-color-white);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    line-height: 1.5;
}

@media only screen and (min-width: 768px) {
footer .third-hl{
    text-align: left;
  }
}

.footer-social {
    display: flex;
    flex-shrink: 0;
    gap: 16px;
}
.footer-social-list{
    width: 40px;
    height: 40px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--link-color-peace-first);
    margin-top: 8px;
    transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link .icon{
    fill: var(--icon-light-fill);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--link-color-active-second);
}
.subscribe-form{
    width: 100%;
}

@media only screen and (min-width: 1158px) {
.subscribe-form {
        margin-left: 80px;
        width: fit-content;
    }
}

.email-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .email-container {
        flex-direction: row;
    }
}

.subscribe{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--text-color-white);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    outline: transparent;
}

@media only screen and (min-width: 768px) {
.subscribe {
    width: 264px;
  }
}

.subscribe::placeholder{
    color: var(--text-color-white);
}

.subscribe:focus::placeholder{
    opacity: 0;
}

.subscribe-footer{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    display: block;
    color: var(--text-color-white);
    text-align: center;
}

@media only screen and (min-width: 768px) {
.subscribe-footer{
    text-align: left;
  }
}

.subscribe-btn{
    max-width: 165px;
    height: 40px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: var(--link-color-peace-first);
    border: none;
    color: var(--text-color-white);
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:focus,
.subscribe-btn:hover{
    background-color: var(--link-color-active-first);
}

.subscribe-btn .icon{
    fill: var(--background-color-white);
    margin-left: 16px;
}


/*
|||||||||||||||||||||||||||||||||||||||
---------------------------------------
Portfolio page styles
---------------------------------------
|||||||||||||||||||||||||||||||||||||||
*/

.portfolio{
    padding: 96px 0 120px 0;
}

.filter{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}
.filter-option{
    background-color: var(--background-color-light);
    letter-spacing: 0.04em;
    border: 1px solid var(--border-light);
    padding: 12px 24px;
    color: var(--);
}

.filter-option:hover, .filter-option:focus{
    background-color: var(--link-color-active-first);
    border: 1px solid transparent;
    color: var(--text-color-white);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px 24px;

}
.project-card{
    letter-spacing: 0.02em;
    width: calc((100% - 48px) / 3);
    
}

.project-card:hover{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



.project-card .third-hl{
margin-bottom: 8px;
    text-align: left;
}



.card-content{
    padding: 32px 16px;
    border: 1px solid var(--border-light);
    border-top: none;
    
}
.image-block{
    height: 300px;
    overflow: hidden;
    display: block;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    background-color: var(--overlay-color);
    transform: translateY(100%);
    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover .overlay {
    transform: translateY(0)
    }

